
{{> header}}


    <!-- if not signup, proceed normal splash -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4"></div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <br>
         <h3 class="text-center">Register to make others vote on your threads</h3>
        <br>
          {{#if errors}}
            <section>
                  {{#if invalidUserPass}}
                      {{#each errors}}
                    <p>Login failed: {{this}}</p>
                      {{/each}}
                  {{else}}
                      {{#each errors}}
                    <p>Login failed: {{this.msg}}</p>
                      {{/each}}
                  {{/if}}
            </section>
          {{/if}}
        <br>
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="username">Username:</label>
            <input  class="form-control" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password" required>
          </div>
          <button type="submit" class="btn btn-default">Sign in</button>
          <a href="/signup/register/"><button type="button" class="btn btn-info">Sign up</button></a>
          <a style="float:right;" href="/twitter/login/"><img src="images/twitterButton.png" alt="twitter login button"></a>
        </form>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-4"></div>
    </div> 
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <!-- polls from here -->
        <h4 id="getAllCharts" class="text-center">Latest polls</h4>
      </div>
    </div>

    <br>
  
    {{#each unregData as |val key0|}}
    <hr style="border: 0.5px solid #878787;"> 
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3  col-lg-4">
        <div class="row">
          <span style="font-size:0.7em">Posted on: {{this.date}}</span>
        </div>
        <div class="row">
          <h3>{{this.title}}</h3>
        </div>
        <div class="row">
          <h6>By: {{this.userId}}</h6>
        </div>
      </div>
      <div  class="col-xs-12 col-sm-4 col-md-7 col-lg-4">
        <form  action="/polls/vote/{{this._id}}" method="POST">
          {{#each this.polls as |val key|}}
          <div style="border-radius:5px; margin-bottom:10px; padding:8px; border:0.5px solid #DFDFDF;" class="row">
          <!-- od tle popravki -->
              <div class="col-sm-2 col-md-1 col-lg-2"><input name="pollNumber" value={{key}} type="radio"></div>
              <div class="col-sm-8 col-md-10 col-lg-8">{{this.poll}}</div>
              <div class="col-sm-2 col-md-1 col-lg-2"><span class="badge">{{this.count}}</span></div>
          </div>
          
          {{/each}}
          <br>
          <button type="submit" class="btn btn-warning btn-sm" value="Vote">Vote</button>
        </form>
      </div>
      <!-- charts -->
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-4">
            <div id="chart_div{{key0}}"></div>
        </div>
    </div>
    <br>
     
    {{/each}}
  
    <div class="row">

      {{status}}
      {{>footer}}
    </div>
    <!-- end if not signup -->

  </div>

